@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

html { position: relative; min-height: 100%;}
body { margin-bottom: 60px; background-color:#fff; font-family:'Roboto', sans-serif; }
footer { position:absolute; bottom:0; min-width:1000px; width:100%; height:60px; background-color:#f5f5f5;}
.container-fluid { /*width: auto; max-width: 680px;*/ width:1000px; }

.abtn { text-decoration:none !important; border-bottom:1px dashed;}

header { padding-bottom:10px; min-width:1000px; background-color:#2e99b1;}
header.index { background-image:url(/img/header.jpg); background-repeat:no-repeat; background-position: bottom center; background-size:cover; padding-bottom:24px;}

.head { padding-top:14px; height:102px; border-bottom:2px solid #5ec5db;}
.head .hb1 { width:310px !important; padding:0 0 0 18px;}
.head .hb2 { width:269px !important; padding:0;}
.head .hb3 { padding:0;}
.head .hb4 { width:165px !important; padding:0 0 0 0;}
.head-phone { font-weight:700; font-size:24px; line-height:1; color:#f4f2b4;}
.head-address { font-size:15px; color:#fff; line-height:19px; padding-top:12px;}
.head-wtime { font-weight:900; font-size:22px; color:#fff;}

.head .head-wtime { line-height:1; padding-bottom:9px;}
.head .head-wtime i { padding:0 8px 0 15px; color:#f4f2b4;}
.head .callme { padding:8px 0 0 23px;}
.head .callme i { color:#f4f2b4; position:absolute; font-size:18px;}
.head .callme .abtn { display:inline-block; color:#fff; margin-left:25px;}
.head .callme .abtn:hover { color:#fff15b;}
.head .soc .h { color:#fff; padding:0 0 10px 0; }
.head .soc a { background-color:#fff; display:inline-block; text-align:center; width:41px; height:41px; overflow:hidden; border-radius:50px; margin-right:12px; }
.head .soc a:hover { background-color:#fff15b;}
.head .soc a:last-child { margin:0;}
.head .soc i { color:#2e99b1; padding-top:7px; font-size:26px; line-height:1;}

#logo { margin:10px 0 0 7px;}

#menu { margin:39px 0 0; padding:0;}
#menu > li { list-style:none; display:inline-block;}
#menu .btn { padding:8px 15px 10px; margin-left:5px; font-size:17px; font-weight:700; line-height:1; background:none; border:1px solid rgba(244,242,180,0); color:#fff;}
#menu .btn:hover, #menu .btn.active, #menu .btn[aria-expanded=true] { border:1px solid rgba(244,242,180,1);}
#menu .btn span { margin-left:5px; color:#f3ef86;}
#menu ul.dropdown-menu { margin:0;}
#menu .btn-group:hover > ul.dropdown-menu { display: block; }

#header-slider { text-align:center; margin:0 auto;}
#header-slider h3 { width:80%; color:#fff; font-size:60px; font-weight:700; line-height:1; margin:9px auto 26px;}
#header-slider .btns .btn { margin:0 16px 29px; font-size:28px; color:#fff; background:none; border:3px solid #fff; padding:1px 28px 6px;}
#header-slider .btns .btn.active,
#header-slider .btns .btn:hover { color:#f4f2b4; border-color:#f4f2b4;}
#header-slider .carousel .item h4 { color:#f4f2b4; margin:0 0 28px 0; padding:0; font-size:35px;}
#header-slider .carousel .item a.btn { margin-top:18px;}

.btn { border:none; border-radius:50px; font-size:18px; padding:8px 18px; box-shadow:none !important;}
.btn i { padding:0 0 0 5px;}
.btn-primary { background-color:#145D71; color:#fff;}
.btn-primary:hover { background-color:#104F7E; color:#fff;}
.btn-primary i { color:#319bb9;}
.btn-warning { background-color:#fff15b !important; color:#000 !important;}
.btn-warning:hover { background-color:#FFFE4E !important; color:#000;}
.btn-warning i { color:#b7b332;}