/.idea
/inc/db.php
/error.log

/uploads/*
!/uploads/no_photo.jpg

/uploads/banner_mini/*
!/uploads/banner_mini/.gitkeep

/uploads/gallery/*
!/uploads/gallery/.gitkeep

/uploads/gallery_catalog/*
!/uploads/gallery_catalog/.gitkeep

/uploads/pages/*
!/uploads/pages/.gitkeep

/uploads/reviews/*
!/uploads/reviews/.gitkeep

/uploads/settings/*
!/uploads/settings/.gitkeep

/uploads/tickets/*
!/uploads/tickets/.gitkeep