<IfModule mod_charset.c>
  CharsetDisable On
</IfModule>
AddDefaultCharset UTF-8
php_value default_charset utf-8

php_flag register_globals off
php_flag display_errors off

ErrorDocument 403 /errors.php?code=403
ErrorDocument 404 /errors.php?code=404

Options -Indexes

DirectoryIndex index.php

Options +FollowSymlinks
RewriteEngine on
RewriteBase /
RewriteRule ^.htaccess$ - [F]

# --------------  Универсалки
RewriteRule ^([^\/.&]+)$ $1/ [R=301,L]
RewriteRule ^([^\/.]+)/([^&^\/.]+)$ $1/$2/ [R=301,L]
RewriteRule ^([^\/.]+)/([^\/.]+)/([^&^\/.]+)$ $1/$2/$3/ [R=301,L]

# -------------- Картинки
RewriteRule ^(pages|tickets|slider|banner_mini|gallery|gallery_catalog|reviews)/([0-9-]+)x([0-9-]+)/([0-9]+)?.jpg$ inc/im_cache.php?fpath=/uploads/$1/&fname=$4&width=$2&height=$3
RewriteRule ^(pages|tickets|slider|banner_mini|gallery|gallery_catalog|reviews)/([0-9]+)?.jpg$ uploads/$1/$2.jpg
RewriteRule ^uploads/(pages|tickets|slider|banner_mini|gallery|gallery_catalog|reviews)/([0-9-]+)x([0-9-]+)/([0-9]+)?.jpg$ inc/im_cache.php?fpath=/uploads/$1/&fname=$4&width=$2&height=$3
RewriteRule ^uploads/(pages|tickets|slider|banner_mini|gallery|gallery_catalog|reviews)/([0-9]+)?.jpg$ inc/im.php?fpath=/uploads/$1/&fname=$2.jpg

# -------------- Страницы
RewriteRule ^([a-zA-Z0-9_-]+).htm$ pages.php?link=$1
RewriteRule ^([a-zA-Z0-9_-]+).htm&(.*)$ pages.php?link=$1&$2

# -------------- Болезни
#RewriteRule ^diseases/([a-zA-Z0-9_\-]+).htm(.*)$ diseases.php?link=$1$2
#RewriteRule ^diseases/(.*)$ diseases.php?$1 [QSA,NC,L]

# -------------- Корзина
RewriteRule ^cart/(.*)$ cart.php?$1 [QSA,NC,L]

# -------------- Абонементы
RewriteRule ^tickets/([a-zA-Z0-9_\-]+).htm(.*)$ tickets.php?link=$1$2
RewriteRule ^tickets/(.*)$ tickets.php?$1 [QSA,NC,L]