@charset "utf-8";

body, html { height:100%; }
body,td,th,input,select,textarea { font: normal 12px Arial, sans-serif; line-height: normal; color: #4d4d4d;}

html,body,table,th,td,h1,h2,p,form,ol,ul,li { padding:0; margin:0; }
body { background-color:#f2f2f2; }
table { border-collapse:collapse; }

* { outline:none !important; }

img { border:none; }

h1 { font:22px Arial; margin:0 0 18px 0; color:#eb0d41; text-align:left;}
h2 { font:22px Arial; margin:0 0 18px 0; color:#eb0d41; text-align:left; }
h3, h4, h5, h6
{

}
h1 span { color: #454545; font-size: 18px;}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline:none; }
input { outline:none !important; }
input.button { display:none; }

a, a:visited { color:#000; text-decoration:underline; }
a:hover { color:#000; text-decoration:none; }
a.help { border:none !important; text-decoration:none !important;}
a.help span { font-size:13px; color:#2c91c0;}

#ajax { width:100%; display:none; }

.fleft { float:left; }
.fright { float:right; }
.inline { display:inline-block; }
div.clear { clear:both; font-size:0; overflow:hidden; }
div.all { font-size:14px; clear:both; text-align:right; }
a.back { margin-top:20px; font-size:12px; clear:both; float:left; }
a.more:after { content:"в†’"; position:absolute; margin-left:5px; }

img.flag { cursor:pointer;}

.Around {
	display: table;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	z-index:2;
}
.AroundRow {display: table-row; height: 100%;}
.Lcol, .Center { display: table-cell; vertical-align: top;}
.Lcol { width: 250px; background-color:#454545; position:relative; z-index:3; }
.Center {
	position:relative;
	z-index:2;
	padding-bottom:80px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	background-color:#f2f2f2;
}
.Center.blured, .Footer.blured, .Around.blured {
	filter: blur(2px) grayscale(100%);
}

.Header { position:relative; z-index:5; height:50px;}
.inHeader { background-color:#2e2e2e; height:50px; }
.inHeader.fixed { position:fixed; width:100%;}

.Lcol .lfix { position:fixed; width:250px;}

.Middle-Head { padding:0; background-color:#fff; overflow:hidden; }
.Middle-Head h1 { padding:10px 20px; margin:0; font-size:30px; }

.Middle { padding:20px 20px; }

#logo { text-align:center; height:50px; background-color:#2e2e2e;}
#logo a img { margin-right:15px; width:70px;}
#logo a { text-decoration:none; font-family:'Good Times', Arial; font-size:28px; color:#fff; }

#menu { margin: 20px 0 10px 0; display: block; width: 100%; }
#menu ul, #menu li { margin: 0; padding: 0; border: 0; list-style: none; font-weight: normal; text-decoration: none; line-height: 1; position: relative; }
#menu > ul > li > a { font-size: 14px; display: block; color: #8c8c8c; font-weight: 400; padding: 12px 15px;position: relative; text-decoration: none; }
#menu > ul > li > a > i {
	font-size: 0; margin: -3px 10px 0 0; width: 21px; height:18px; float: left; line-height: 14px; text-align: center;
	background-repeat:no-repeat; background-position:0;
}
#menu > ul > li.highlight > a > i { background-position:-21px 0;}
#menu i.fa-pages { background-image:url(../img/menu/pages.png);}
#menu i.fa-tickets { background-image:url(../img/menu/tickets.png);}
#menu > ul > li > a > span {
	display: block; }
#menu > ul > li.has-sub > a span { background: url(../img/icon_plus.png) 100% center no-repeat; }
#menu > ul > li.has-sub.active > a span { background: url(../img/icon_minus.png) 100% center no-repeat; }
#menu > ul > li.has-sub.active {background: #262626; }
#menu > ul > li.highlight {
	background: #525252;
	/* Old browsers */
	background: -moz-linear-gradient(left, #525252 2%, #525252 75%, #1a1a1a 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(2%, #525252), color-stop(85%, #525252), color-stop(100%, #1a1a1a));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #525252 2%, #525252 75%, #1a1a1a 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #525252 2%, #525252 75%, #1a1a1a 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left, #525252 2%, #525252 75%, #1a1a1a 100%);
	/* IE10+ */
	background: linear-gradient(to right, #525252 2%, #525252 75%, #1a1a1a 100%);
	/* W3C */ }
#menu > ul > li.highlight:before { position: absolute; left: 0; height: 100%; border-left: 4px solid #D66061; content: ""; }
#menu > ul > li.highlight:after {
	position: absolute; left: 4px; top: 11px; height: 0; width: 0;
	border-left: 5px solid #D66061; border-top: 8px solid transparent; border-bottom: 8px solid transparent;
	content: "";
}
#menu > ul > li.highlight a { color: #fdfdfe; font-weight: 600; }
#menu > ul > li.highlight a i { color: #fdfdfe; }
#menu > ul > li.highlight a:hover { text-decoration: none; color: #fdfdfe; }
#menu > ul > li.highlight a:hover i { color: #fdfdfe; }
#menu > ul > li:hover {
	background: #525252;
	/* Old browsers */
	background: -moz-linear-gradient(left, #525252 2%, #525252 75%, #1a1a1a 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(2%, #525252), color-stop(85%, #525252), color-stop(100%, #1a1a1a));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #525252 2%, #525252 75%, #1a1a1a 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #525252 2%, #525252 75%, #1a1a1a 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left, #525252 2%, #525252 75%, #1a1a1a 100%);
	/* IE10+ */
	background: linear-gradient(to right, #525252 2%, #525252 75%, #1a1a1a 100%);
	/* W3C */
	text-decoration: none; }
#menu .current-page { position: absolute; right: 0; top: 10px; height: 0; width: 0;
	border-right: 9px solid #f2f2f2; border-top: 10px solid transparent; border-bottom: 10px solid transparent;
	content: "";
}
#menu ul ul { display: none; background: #ffffff; }
#menu ul ul li { padding: 0; border-bottom: none; border-top: none; background: #2e2e2e; position: relative; }
#menu ul ul li:hover { background: #383838; }
#menu ul ul li .select { font-weight: bold; color: #ecf0f5 !important; position: relative; }
#menu ul ul li .select:after {
	position: absolute; right: 0; top: 6px; height: 0; width: 0;
	border-right: 10px solid #f2f2f2; border-top: 10px solid transparent; border-bottom: 10px solid transparent;
	content: "";
}
#menu ul ul a {
	padding: 10px 10px 10px 45px; display: block; color: #999999 !important; font-size: 12px; font-weight: normal; text-decoration: none; }
#menu ul ul a span {
	-webkit-transition: padding 0.5s ease;
	-moz-transition: padding 0.5s ease;
	-ms-transition: padding 0.5s ease;
	-o-transition: padding 0.5s ease;
	transition: padding 0.5s ease;
	padding-left: 5px; }
#menu ul ul a span i { margin-right: 5px; }

.pd25 { padding-left:25px; padding-right:25px;}

.dropdown-menu a { text-decoration:none;}

.arr { margin-bottom: 25px; background-color: #ffffff; border-radius: 0; box-shadow: none; border: 0;}
.arr-head { position: relative; padding: 12px 15px; border: 1px solid #ededed; border-bottom: 1px solid rgb(237, 237, 237); border-bottom: 0; border-radius: 0px;}
.arr-head h4 { margin:0; font-size: 15px; font-weight: 600; color: #4d4d4d;}
.arr-head i {
	position: absolute;
	right: 15px;
	top: 12px;
	color: #333;
	font-size: 12px;
}
.arr-body { padding: 15px; position: relative; border: 1px solid #ededed;}

.table-list { width:100%;}
.table-list th, .table-list td {border:1px solid #ddd; }
.table-list thead th { border-bottom-width:2px; text-align:left; padding:8px; vertical-align:middle; font-weight:600;}
.table-list thead th a { text-decoration:none; font-weight:600; color:#4d4d4d; border-bottom:1px dotted #4d4d4d;}
.table-list tbody th, .table-list tbody td { padding:5px; vertical-align:middle; }
.table-list tbody th { text-align:center;}
.table-list tbody td { text-align:left;}
.table-list tbody tr:nth-child(odd) { background-color:#f9f9f9;}
.table-list tbody tr:hover { background-color:#ededed;}

.Footer {
	position:relative;
	background: #ededed none repeat scroll 0 0;
	border-top: 1px solid #e0e0e0;
	color: #4d4d4d;
	font-size: 11px;
	height: 60px;
	text-align: left;
	margin-top:-60px;
	z-index:2;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.Footer .inFooter { padding:10px 20px 0 270px; }